@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ESPACIO DISEÑO</h1>
    <p class="lead">Sistema de presupuestos</p>

    <div>
        <input type="button" class="btn btn-success" value="Ingresar nuevo Usuario" onclick="location.href='@Url.Action("Register", "Account" )'" />
    </div>
</div>


