@model IEnumerable<espaciodiseno.Models.espesores>

@{
    ViewBag.Title = "Index";
}

<br />
<h2>Espesores</h2>

<p>
    <input type="button" value="(+) Agregar" class="btn btn-success" onclick="location.href='@Url.Action("Create", "espesores" )'" />
</p>
<table class="table">
    <tr>
        <th>
            Espesor
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.esp_nombre)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.esp_id }) |

                @Html.ActionLink("Eliminar", "Delete", new { id = item.esp_id })
            </td>
        </tr>
    }

</table>
