@model espaciodiseno.Models.proyectos

@{
    ViewBag.Title = "cargarImg";
}

<div>
    <h2>¿Desea cargar una imagen?</h2>
    <p>
        @using (Html.BeginForm("Img", "proyectos", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label for="file">Subir imagen:</label>
            <input type="file" name="file" id="file" /><br />
            <input type="submit" value="Aceptar" class="btn btn-success"/>
        }
    </p>


</div>

